@import "/src/scss/variables";

// Title component
.title {
  color: $primary-color;

  &__title-text {
    font-size: 4rem;
    font-weight: 700;

    text-decoration: none;
    color: $primary-color;
  }

  &__description {
    font-size: 2rem;
  }

  &__underline {
    width: 440px;
    height: 3px;
    background-color: $secondary-color;
  }
}

// Media queries
@media screen and (max-width: 768px) {
  .title {
    margin: 10px 0;
    &__title-text {
      font-size: 3rem;
    }

    &__description {
      font-size: 1.5rem;
    }

    &__underline {
      width: 330px;
    }
  }
}

@media screen and (max-width: 600px) {
  .title {
    &__title-text {
      font-size: 2rem;
    }

    &__description {
      font-size: 1em;
      display: none;
    }

    &__underline {
      width: 150px;
    }
  }
}
