@import "/src/scss/variables";
@import "/src/scss/mixins";

.about {
  @include router-container;
  font-size: 1.3rem;
  height: auto;
  padding: 20px;
  letter-spacing: 1.5px;
}

.paragraph-margin {
  margin: 20px 0;
}

// Media queries
@media screen and (max-width: 1200px) {
  .about {
    max-height: 400px;
    min-width: 300px;
    overflow-y: scroll;
  }
}
