@import "/src/scss/variables";
@import "/src/scss/mixins";

.projects {
  @include router-container;
  @include flex-column;
  font-size: 1.3rem;
  max-width: 700px;
  min-height: 500px;
  letter-spacing: 1.5px;
  padding: 20px;

  &__title {
    font-size: 2rem;
    color: $secondary-color;
  }

  &__repo-url {
    text-decoration: none;
  }

  &__repo-name {
    color: $primary-color;
    text-align: center;
    @include router-container;
    width: 600px;
    height: auto;
    padding: 10px;
    margin: 10px 0;
  }

  &__repo-name:hover {
    background-color: $hover-color;
    color: $white;
    transition: 0.3s;
  }
}

// Media queries
@media screen and (max-width: 600px) {
  .projects {
    margin-top: 40px;
    background-color: $white;
    @include router-container;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

    &__title {
      font-size: 1.7rem;
      margin-top: 100px;
    }

    &__repo-name {
      max-width: 330px;
    }
  }
}
