@import "/src/scss/variables";
@import "/src/scss/mixins";

.contact {
  @include router-container;
  @include flex-column;
  width: 330px;
  height: 200px;
  padding: 20px;

  &__text {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__mail-btn {
    width: 50%;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;

    &:hover {
      background-color: $secondary-color;
      box-shadow: 2px 2px 2px 2px #6d6d6d40;
    }
  }
}
